<p><a href="/contacts">View all contacts</a></p>
<p><h2>Edit Contact Information</h2></p>
<form action="/contacts/<%= @contact.id %>" method="post">
  <p><input type="hidden" name="_method" value="put"></p>
  <p><input type="text" name="first_name" value="<%= @contact.first_name %>"></p>
  <p><input type="text" name="last_name" value="<%= @contact.last_name %>"></p>
  <p><input type="text" name="email" value="<%= @contact.email %>"></p>
  <p><input type="text" name="note" value="<%= @contact.note %>"><p/>
  <input type="submit" name="Update">
</form>


