<h2>Current Contact</h2>
<p><%=@contact.first_name %> <%= @contact.last_name %></p>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Note:</strong><%= @contact.note %></p>

<p></p>
<a href="/contacts/<%= @contact.id %>/edit">Edit contact information</a>

<p>Delete this Contact</p>
<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="submit" text="Delete This Contact">
</form>